HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
htmlReport/index.html
htmlReport/css/coverage.css
htmlReport/css/idea.min.css
htmlReport/img/arrowDown.gif
htmlReport/img/arrowUp.gif
htmlReport/js/highlight.min.js
htmlReport/js/highlightjs-line-numbers.min.js
